# greetings - android implementation

Note that this package needs no dart code.  It's entirely the Android
(Kotlin) implementation. The Dart bit, which communicates with this
part via platform channels, is in
`greeting_platform_interface/lib/method_channel_greetings.dart`.


